@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000; /* Change background to black */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000; /* Change dark mode background to black */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
